h2 {
    font-size: 18px;
    text-transform: uppercase;
        font-weight: 500;
    color: #292929;
   letter-spacing: 1px;
    padding-bottom: 6px;
}
.panel-btn button {
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 10px;
    margin: 0px 0px 0px 10px;
}
.panel-heading{
    font-size: 16px;
    color: #286597;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
h5 {
    margin-top: 0px;
    font-size: 14px;
    color: #5d5c5c;
    text-transform: uppercase;
    font-weight: bold;
}
span.fa.fa-angle-down.super-crazy-colors {
    font-size: 20px;
    padding: 0px 10px 0px 0px;
    vertical-align: text-top;
    color: #858585;
}
span.ticketId {
    color: #858585;
        font-size: 14px;
    padding-top: 6px;
    display: block;
}
span.ticketId b {
    color: #5f5e5e;
}
span.spanClr {
    padding-right: 15px;
    color: #858585;
        font-size: 14px;
    padding-top: 6px;
    display: inline-block;
}
span.spanClr b {
    color: #5f5e5e;
}
.tickCls {
    font-size: 20px;
    vertical-align: top;
    color: #b5b5b5;
}
.block.label-control {
    color: #858585;
    padding: 8px 0px;
}
.well.well-sm.clearfix {
    background: #fdfdfd;
    box-shadow: none;
}
.col-sm-12.buttonContainer button {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 13px;
    text-transform: uppercase;
    margin-right: 15px;
    border-radius: 2px;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.panel-body {
    padding-bottom: 0px;
}
.loginContainer {
    margin-top: 10%;
}
.bgOverLay{
    background: url(../images/bg.jpg) top left no-repeat;
    background-size: cover;
    display: block;
        height: 96vh;
}
.btn-group-sm>.btn, .btn-sm {

    margin-right: 10px;
}
.panel-default>.panel-heading {
    text-transform: capitalize;
}